/*=============================================
    MFM BUTTONS STYLE
=============================================*/

body{
    margin: 0;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    color: white;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
h1 {
    font-size: 4em;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    letter-spacing: 0.2em;
}
h1>i.active{
  text-shadow: 5px 5px 0px white;
}
h1>i{
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-shadow: 0px 0px 0px white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
h1>i:hover{
  text-shadow: 0px 0px 0px white!important;
}
#flex-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#flex-container>section{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
nav {
    position: fixed;
    -webkit-transform: translateY(0);
    right: 20px;
    top: 20px;s
}
nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav>ul>li {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    margin-bottom: 10px;
    border-radius: 50%;
}
nav>ul>li.active{background: white;}

/*=============================================
    BUTTONS
=============================================*/

a.btn {
    color: white;
    width: 200px;
    margin: 0 auto;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    z-index: 10;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
a.btn::after, a.btn::before{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
a.btnIntro{
  border: 2px solid white;
}

/*=============================================
    BUTTON 1
=============================================*/

a.btn1{
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
    transform-origin: left;
}
a.btn1::after {
  content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background: transparent;
    z-index: 1;
    border-right: 2px solid white;
    border-top: 2px solid white;
}
a.btn1::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 1;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform-origin: top left;
}
a.btn1:hover::after, a.btn1:hover::before{
    width: 0;
    height: 0;
}

/*=============================================
    BUTTON 2
=============================================*/

/*=============================================
    ANIMATION
=============================================*/

@-webkit-keyframes strokeChange {
  0% {
    -webkit-text-stroke: 0px white;
  }
  100% {
    -webkit-text-stroke: 2px white;
  }
}
